# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


.DS_Store
.vscode/
.vscode 

todo.txt 

./basic/bignum 
./basic/analysis_decrypt.txt
./basic/analysis_encrypt.txt 
./basic/encoded
./basic/gmon.out

./fast/bignum 
./fast/analysis_decrypt.txt
./fast/analysis_encrypt.txt 
./fast/encoded
./fast/gmon.out
./fast/bignum.gcda
./fast/main.gcda
./fast/normal_bignum.gcda
